/* src/components/AuthLayout.css */

.auth-layout {
  display: grid;
  grid-template-columns: 400px 1fr;
  min-height: 100vh;
}

.auth-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #cac0de;
}

.auth-showcase-section {
  display: flex;
  justify-content: center;
  align-items: center;

  /* --- CÓDIGO PARA EL FONDO DE IMAGEN --- */
  background-image: url("../assets/inicio3.png");
  background-size: cover;
  background-position: center;
}
