/* src/components/PetDashboard.css */
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.control-panel {
  width: 400px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Para scroll si hay mucho contenido */
}

.pet-view-area {
  flex-grow: 1;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* --- AÑADE ESTAS LÍNEAS --- */
  background-image: url('../assets/habitacion.png');
  background-size: cover;
  background-position: center;
}

.separator {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.no-pets-message {
  text-align: center;
  color: #555;
}