.pet-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.pet-display {
  position: relative;
  width: 800px;
  height: 800px;
  top: 60px;
}

.pet-base {
  width: 100%;
  height: 100%;
}

.pet-accessory {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
