/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  /* Aquí puedes definir variables de color si quieres */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f6;
}